---
# Networking configuration (FR-8.1)

- name: Ensure NetworkManager is enabled and running
  systemd:
    name: NetworkManager
    enabled: yes
    state: started

- name: Configure NetworkManager WiFi power management
  copy:
    dest: /etc/NetworkManager/conf.d/wifi-powersave.conf
    content: |
      [connection]
      wifi.powersave = 2
    mode: '0644'
  notify: restart networkmanager

- name: Disable IPv6 (optional, can improve reliability)
  sysctl:
    name: "{{ item }}"
    value: '1'
    state: present
    reload: yes
  loop:
    - net.ipv6.conf.all.disable_ipv6
    - net.ipv6.conf.default.disable_ipv6
  when: disable_ipv6 | default(false)

handlers:
  - name: restart networkmanager
    systemd:
      name: NetworkManager
      state: restarted
